<h1>Administration</h1>
<%= link_to "Establesimiento", establishments_path, class:'button' %>
<%= link_to "Generar un Egreso", new_outflow_path, class:'button' %>
<%= link_to "Ver Egresos", outflows_path, class:'button' %>

