<h1>Editing Contrac Establishment</h1>

<%= render 'form', contrac_establishment: @contrac_establishment %>

<%= link_to 'Show', @contrac_establishment %> |
<%= link_to 'Back', contrac_establishments_path %>
