<div class="row">
  <div class="col-sm-3">
    <div class="card card-inverse card-warning mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-user-circle fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_employees %></h1></div>
            <div>New Employee!</div>
        </div>
      </div>
      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-info mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-address-card fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_bills %></h1></div>
            <div>New Bills!</div>
        </div>
      </div>
      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-danger mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-money fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_entries %></h1></div>
            <div>New Entries!</div>
        </div>
      </div>
      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-success mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-bar-chart fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_outflows %></h1></div>
            <div>New Outflows!</div>
        </div>
      </div>
      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
</div>