<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card card-inverse card-warning mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-user-circle fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_employees %></h1></div>
            <div>New Employee!</div>
        </div>
      </div>
      <div class="card-footer">
        <span class="pull-left"><a href="/admin/employees">View Details</a></span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-info mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-address-card fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_bills %></h1></div>
            <div>New Bills!</div>
        </div>
      </div>
      <div class="card-footer">
        <span class="pull-left"><a href="/admin/bills">View Details</a></span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-danger mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-money fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_entries %></h1></div>
            <div>New Entries!</div>
        </div>
      </div>
      <div class="card-footer">
        <span class="pull-left"><a href="/admin/entries">View Details</a></span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse card-success mb-3">
      <div class="card-block">
        <div class="col-xs-3">
          <i class="fa fa-bar-chart fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge"><h1><%= @count_outflows %></h1></div>
            <div>New Outflows!</div>
        </div>
      </div>
      <div class="card-footer">
        <span class="pull-left"><a href="/admin/outflows">View Details</a></span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>